*/inicio de encabezado*/
body{
	font-family: •	Agency FB;
	margin: 0;
}

header{
	height: 100px;
	background-color: white;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

h1{
	color: white;
	font-size: 30px;
}

h2{
	color: white;
	font-size: 20px;
}

a{
	color: white;
	text-decoration: none;
	background-color: #A69DF0;
}

.logo{
	height: 100px;
}
.logo img{
	text-align: center;
	height: 100px;
	margin-right: 40px;
}

nav{
	width: 1250px; 
	height: 50px;
	background-color: green;
}
nav a{
	background-color: #A69DF0;
	font-weight: 300px;
*/final de encabezado*/
}
/*Altura de contenido de paguina*/
main{
	width: 1250px;
	height: 2450px;
	float: left;
	background-color: #A69DF0;
}

