*/inicio de encabezado*/
body{
	font-family: •	Agency FB;
	margin: 0;
}

header{
	height: 130px;
	background-color: white;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

h1{
	color: white;
	font-size: 30px;
}

h2{
	color: white;
	font-size: 20px;
}

a{
	color: white;
	text-decoration: none;
}

.logo{
	height: 100px;
}
.logo img{
	text-align: center;
	height: 130px;
	margin-right: 40px;
}

.menu{
	list-style: none;
	padding: 5px;
	background: #FAC4D1;
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

.menu li a{
	text-decoration: none;
	color: black;
	padding: 20px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
	padding-left: 25px;
}

.menu li a:hover{
	background: #FA9DD1;
}

main{
	width: 1250px;
	height: 2450px;
	float: left;
	background-color: #6DBD91;
}

footer{
	background-color: #FAC4D1;
	width: 1250px;
}

.redes{
	text-align: right;
	margin-right: 100px;
}

.redes img{
	align-items: center;
	width: 50px;
}

.box_copyright{
    text-align: center;
}